First we set up the notebook and import our tools.  I will run this book on kernal PUI2016_Python3

In [2]:
from __future__ import print_function, division
import geopandas as gp
import pandas as pd
import pylab as pl
import os
import json
import seaborn as sns
import matplotlib as plt
import numpy as np
import sys

#s = json.load( open(os.getenv('PUI2016')+'/fbb_matplotlibrc.json') )
#pl.rcParams.update(s)
if os.getenv("PUIDATA") is None:
    print ("$PUIDATA to point to set PUIdata dir")

%pylab inline
print(os.getenv("PUIDATA"))

Populating the interactive namespace from numpy and matplotlib
/home/cusp/cjs676/PUIdata

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['plt']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

Below is the function which will get and move the citibike data

In [3]:


#check if the env variable PUIDATA exists
if os.getenv("PUIDATA") is None:
    print ("must set PUIDATA env variable")
    sys.exit()

def getCitiBikeCSV(datestring):
    '''Downloads citibike data and unzips it. If the data is downloaded by not unzippeds it zips it. Moves the data to $PUIDATA
    Arguments:
        date string as yyyymm
    '''
    print ("Downloading", datestring)
    ### First I will heck that it is not already there
    if not os.path.isfile(os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.csv"):
        if os.path.isfile(datestring + "-citibike-tripdata.csv"):
            # if in the current dir just move it
            if os.system("mv " + datestring + "-citibike-tripdata.csv " + os.getenv("PUIDATA")):
                print ("Error moving file!, Please check!")
        #otherwise start looking for the zip file
        else:
            if not os.path.isfile(os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.zip"):
                if not os.path.isfile(datestring + "-citibike-tripdata.zip"):
                    os.system("curl -O https://s3.amazonaws.com/tripdata/" + datestring + "-citibike-tripdata.zip")
                ###  To move it I use the os.system() functions to run bash commands with arguments
                os.system("mv " + datestring + "-citibike-tripdata.zip " + os.getenv("PUIDATA"))
            ### unzip the csv 
            os.system("unzip " + os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.zip")
            ## NOTE: old csv citibike data had a different name structure. 
            if '2014' in datestring:
                os.system("mv " + datestring[:4] + '-' +  datestring[4:] + 
                          "\ -\ Citi\ Bike\ trip\ data.csv " + datestring + "-citibike-tripdata.csv")
            os.system("mv " + datestring + "-citibike-tripdata.csv " + os.getenv("PUIDATA"))
    ### One final check:
    if not os.path.isfile(os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.csv"):
        print ("WARNING!!! something is wrong: the file is not there!")

    else:
        print ("file in place, you can continue")

Now we will get the data 201506 first #edit:  success, checked with the Terminal

In [4]:
datestring = '201506'
getCitiBikeCSV(datestring)

Downloading 201506
file in place, you can continue

###### Now we will get the 201601 data #edit success, checked with the Terminal

In [5]:
datestring = '201601'
getCitiBikeCSV(datestring)

Downloading 201601
file in place, you can continue

Now we will load the citibike data into datframes
cb15 = 201506 data
cb16 = 201601 data

In [7]:
cb15 = pd.read_csv((os.getenv("PUIDATA") + "/" + '201506' + "-citibike-tripdata.csv"))

#The line line was to test if the path was proper. It is now commented out
#print((os.getenv("PUIDATA") + "/" + '201506' + "-citibike-tripdata.csv"))

In [8]:
#Check to see if the file was read
cb15.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1338,6/1/2015 0:00,6/1/2015 0:22,128,MacDougal St & Prince St,40.727103,-74.002971,2021,W 45 St & 8 Ave,40.759291,-73.988597,20721,Subscriber,1984.0,1
1,290,6/1/2015 0:00,6/1/2015 0:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,312,Allen St & E Houston St,40.722055,-73.989111,21606,Subscriber,1997.0,1
2,634,6/1/2015 0:01,6/1/2015 0:11,383,Greenwich Ave & Charles St,40.735238,-74.000271,388,W 26 St & 10 Ave,40.749718,-74.002950,16595,Subscriber,1993.0,1
3,159,6/1/2015 0:01,6/1/2015 0:04,361,Allen St & Hester St,40.716059,-73.991908,531,Forsyth St & Broome St,40.718939,-73.992663,16949,Subscriber,1981.0,1
4,1233,6/1/2015 0:02,6/1/2015 0:22,382,University Pl & E 14 St,40.734927,-73.992005,532,S 5 Pl & S 4 St,40.710451,-73.960876,17028,Customer,NaN,0
5,690,6/1/2015 0:03,6/1/2015 0:15,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,410,Suffolk St & Stanton St,40.720664,-73.985180,20857,Subscriber,1976.0,1
6,766,6/1/2015 0:04,6/1/2015 0:17,346,Bank St & Hudson St,40.736529,-74.006180,2003,1 Ave & E 18 St,40.733812,-73.980544,15978,Subscriber,1976.0,1
7,1160,6/1/2015 0:06,6/1/2015 0:25,512,W 29 St & 9 Ave,40.750073,-73.998393,445,E 10 St & Avenue A,40.727408,-73.981420,17306,Subscriber,1962.0,2
8,550,6/1/2015 0:07,6/1/2015 0:16,525,W 34 St & 11 Ave,40.755942,-74.002116,447,8 Ave & W 52 St,40.763707,-73.985162,18392,Subscriber,1973.0,1
9,545,6/1/2015 0:08,6/1/2015 0:17,403,E 2 St & 2 Ave,40.725029,-73.990697,439,E 4 St & 2 Ave,40.726281,-73.989780,16300,Subscriber,1958.0,1

Repeating the process for the next file.

In [10]:
cb16 = pd.read_csv((os.getenv("PUIDATA") + "/" + '201601' + "-citibike-tripdata.csv"))

#The line line was to test if the path was proper. It is now commented out
#print((os.getenv("PUIDATA") + "/" + '201601' + "-citibike-tripdata.csv"))

In [11]:
cb16.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,923,1/1/2016 00:00:41,1/1/2016 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958.0,1
1,379,1/1/2016 00:00:45,1/1/2016 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969.0,1
2,589,1/1/2016 00:00:48,1/1/2016 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982.0,2
3,889,1/1/2016 00:01:06,1/1/2016 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961.0,2
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952.0,1

#Success.  
Now to try to get the IRS data. 
From investigation on the IRS page: File 14zp33ny.xls = https://www.irs.gov/pub/irs-soi/14zp33ny.xls

In [12]:
#First attempt.  Trying to use the hint =on the midterm

#datestring = '201601'
#getCitiBikeCSV(datestring)

def readIncomeXls(url):
    return pd.read_excel(url, header=3, index_col="ZIP\ncode [1]")

In [14]:
#Lets see what our function returns
url = 'https://www.irs.gov/pub/irs-soi/14zp33ny.xls'
readIncomeXls(url)

,Size of adjusted gross income,Number of returns,Number of single returns,Number of joint returns,Number of head of household returns,Number with paid preparer's signature,Number of exemptions,Number of dependents,Number of volunteer prepared returns [2],Unnamed: 10,...,Total tax liability [9],Unnamed: 116,Additional Medicare tax,Unnamed: 118,Net investment income tax,Unnamed: 120,Tax due at time of filing [10],Unnamed: 122,Overpayments refunded [11],Unnamed: 124
ZIP code [1],,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,Number of volunteer income tax assistance (VIT...,...,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount
NaN,NaN,-1.0,-2.0,-3.0,-4.0,-5.0,-6.0,-7.0,-8,-9,...,-114,-115,-116,-117,-118,-119,-120,-121,-122,-123
0,Total,9397410.0,4750550.0,2942890.0,1515950.0,6110600.0,17322490.0,5539120.0,279510,197150,...,7229610,129761061,280780,900175,300410,2745701,1781540,10177242,7115810,25052463
0,"$1 under $25,000",3617400.0,2432240.0,468500.0,665410.0,2247810.0,5220510.0,1678560.0,187260,136800,...,1804270,1677200,0,0,0,0,451080,361017,2886740,6049923
0,"$25,000 under $50,000",2070870.0,1103290.0,449390.0,467540.0,1280840.0,3729240.0,1219770.0,69390,49620,...,1769800,4790944,0,0,0,0,287080,461908,1747120,4510472
0,"$50,000 under $75,000",1248170.0,590760.0,417090.0,203970.0,811480.0,2354290.0,690410.0,15750,8270,...,1208460,7172107,30,10,0,0,258590,569921,961470,2794612
0,"$75,000 under $100,000",805170.0,280040.0,408350.0,94660.0,547720.0,1722440.0,509330.0,4250,1340,...,796620,7548905,60,8,0,0,188570,539823,592800,2149986
0,"$100,000 under $200,000",1171760.0,261640.0,818600.0,70860.0,834560.0,2953670.0,963610.0,2600,970,...,1166800,21520383,13620,3189,4900,1158,352230,1681115,766840,3660123
0,"$200,000 or more",484040.0,82580.0,380960.0,13510.0,388190.0,1342340.0,477440.0,260,150,...,483660,87051522,267070,896968,295510,2744543,243990,6563458,160840,5887347
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10001,NaN,14080.0,10200.0,2410.0,1090.0,8690.0,19370.0,3250.0,430,260,...,12090,564573,1790,6152,1610,10890,3720,46427,9190,46196
10001,"$1 under $25,000",3880.0,3010.0,350.0,430.0,2270.0,4840.0,930.0,290,180,...,2130,2367,0,0,0,0,720,884,2670,4790
10001,"$25,000 under $50,000",2530.0,1890.0,250.0,320.0,1430.0,3420.0,680.0,120,80,...,2340,7919,0,0,0,0,530,1345,1910,4371
10001,"$50,000 under $75,000",1850.0,1470.0,190.0,140.0,1080.0,2360.0,330.0,20,0,...,1830,14162,0,0,0,0,450,1301,1330,3274
10001,"$75,000 under $100,000",1300.0,1000.0,170.0,80.0,790.0,1670.0,200.0,0,0,...,1290,16562,0,0,0,0,300,1289,940,2851
10001,"$100,000 under $200,000",2350.0,1680.0,530.0,70.0,1460.0,3290.0,410.0,0,0,...,2330,57112,100,31,30,12,580,3830,1630,7178
10001,"$200,000 or more",2170.0,1150.0,920.0,50.0,1660.0,3790.0,700.0,0,0,...,2170,466451,1690,6121,1580,10878,1140,37778,710,23732
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10002,NaN,43370.0,25580.0,11040.0,6020.0,29840.0,72430.0,19160.0,1540,1330,...,29090,350924,1130,2276,1050,3507,9480,36110,30730,79996
10002,"$1 under $25,000",23350.0,13530.0,6160.0,3330.0,17340.0,38730.0,10300.0,1180,1050,...,10290,9544,0,0,0,0,4510,3634,16300,35275
10002,"$25,000 under $50,000",8270.0,4700.0,1860.0,1580.0,5330.0,14630.0,4550.0,290,240,...,7140,21123,0,0,0,0,1640,3082,6490,16120
10002,"$50,000 under $75,000",4500.0,3110.0,660.0,610.0,2560.0,6680.0,1530.0,70,40,...,4430,32033,0,0,0,0,1050,2753,3360,8227
10002,"$75,000 under $100,000",2510.0,1650.0,510.0,290.0,1490.0,3890.0,870.0,0,0,...,2500,30176,0,0,0,0,570,2156,1880,5558
10002,"$100,000 under $200,000",3200.0,1880.0,1090.0,170.0,2000.0,5430.0,1140.0,0,0,...,3190,71164,70,14,30,10,870,5095,2190,9708
10002,"$200,000 or more",1540.0,710.0,760.0,40.0,1120.0,3070.0,770.0,0,0,...,1540,186884,1060,2262,1020,3497,840,19390,510,5108
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10003,NaN,29810.0,22730.0,5460.0,960.0,19290.0,39170.0,4790.0,380,300,...,27130,1663632,4840,18048,4820,44991,9200,116770,17420,124792
10003,"$1 under $25,000",5380.0,4690.0,340.0,240.0,3200.0,5450.0,540.0,280,200,...,3100,3828,0,0,0,0,1320,1574,3160,4190
10003,"$25,000 under $50,000",4240.0,3630.0,330.0,180.0,2470.0,4990.0,480.0,70,70,...,3970,15083,0,0,0,0,1020,2659,2960,6105
10003,"$50,000 under $75,000",4410.0,3830.0,330.0,140.0,2560.0,5120.0,400.0,30,30,...,4340,35150,0,0,0,0,1180,3487,2980,6832
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14905,"$1 under $25,000",1510.0,1080.0,170.0,240.0,590.0,1990.0,550.0,170,130,...,630,493,0,0,0,0,110,72,1280,2378
14905,"$25,000 under $50,000",900.0,510.0,230.0,150.0,430.0,1520.0,400.0,100,60,...,780,2142,0,0,0,0,120,168,750,1821
14905,"$50,000 under $75,000",680.0,320.0,280.0,70.0,390.0,1260.0,300.0,0,0,...,680,4075,0,0,0,0,150,270,510,1311
14905,"$75,000 under $100,000",450.0,110.0,300.0,40.0,270.0,1050.0,300.0,0,0,...,450,3969,0,0,0,0,110,282,310,1011
14905,"$100,000 under $200,000",640.0,80.0,540.0,0.0,400.0,1660.0,490.0,0,0,...,630,11096,0,0,0,0,220,845,390,1703
14905,"$200,000 or more",190.0,20.0,160.0,0.0,140.0,500.0,160.0,0,0,...,190,17408,90,118,120,252,90,1665,70,743
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,NaN,88940.0,49540.0,28130.0,9870.0,55790.0,157450.0,43810.0,4070,2860,...,70330,2976168,3310,30029,5200,126109,17370,131606,61840,393629
99999,"$1 under $25,000",32590.0,23870.0,4650.0,3700.0,16930.0,46740.0,13420.0,2900,2170,...,16930,15518,0,0,0,0,3560,3132,25280,46499
99999,"$25,000 under $50,000",19350.0,11350.0,4180.0,3290.0,11400.0,32790.0,9310.0,880,580,...,17050,49930,0,0,0,0,3040,5460,15290,36066
99999,"$50,000 under $75,000",11900.0,6160.0,3970.0,1510.0,7710.0,21510.0,5580.0,210,90,...,11500,73446,0,0,0,0,2680,6594,8370,22516
99999,"$75,000 under $100,000",7340.0,2930.0,3680.0,640.0,5100.0,15010.0,3860.0,80,20,...,7230,72857,0,0,0,0,1700,5309,4800,15688
99999,"$100,000 under $200,000",10390.0,3310.0,6450.0,510.0,7860.0,23080.0,6120.0,0,0,...,10280,203159,110,21,60,12,3290,17939,5800,27750
99999,"$200,000 or more",7370.0,1920.0,5200.0,220.0,6790.0,18320.0,5520.0,0,0,...,7340,2561258,3200,30008,5140,126097,3100,93172,2300,245110
"** - Not shown to avoid disclosure of information \nabout specific taxpayers. However, the data are \ncombined with data in an adjacent size class, \nas appropriate, and included in the appropriate totals.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"[1] The ZIP Code is based on the 5-digit ZIP code on the individual \nincome tax return. ZIP Codes with less than 100 returns, \nidentified as a single building ZIP code, or identified as a \nnonresidential ZIP code have been categorized as other (99999).",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"[2] The ""Number of volunteer prepared returns"" shows counts of \nreturns prepared by IRS-certified volunteers to taxpayers with \nlimited income, persons with disabilities, limited English speaking \ntaxpayers, current and former members of the military, and \ntaxpayers who are 60 years of age and older.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
[3] Does not include returns with adjusted gross deficit.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"[4] ""Qualified dividends"" are ordinary dividends received \nin tax years beginning after 2002 that meet certain \nconditions and receive preferential tax rates. \nThe maximum qualified dividends tax rate is 15%.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"[5] Includes the Alaskan permanent fund, reported by \nresidents of Alaska on Forms 1040A and 1040EZ's. \nThis fund only applies to statistics in the totals, and the \nstate of Alaska.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"[6] ""Earned income credit"" includes both the refundable \nand non-refundable portions. The non-refundable portion \ncould reduce income tax and certain related taxes to zero. \nThe earned income credit amounts in excess of total tax \nliability, or amounts when there was no tax liability at all, \nwere refundable. See footnote 7 below for explanation \nof the refundable portion of the earned income credit.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"[7] The refundable portion of the ""earned income credit"" \nequals ""total income tax"" minus the ""earned income credit."" \nIf the result is negative, this amount is considered the \nrefundable portion. No other refundable credits were \ntaken into account for this calculation.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"[8] ""Income tax"" reflects the amount reported on \nForm 1040 line 56. It also includes data from \nForm 1040A and 1040EZ filers.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"[9] ""Total tax liability"" differs from ""Income tax,"" in that\n""Total tax liability"" includes the taxes from recapture of \ncertain prior-year credits, tax applicable to individual \nretirement arrangements (IRA's), social security taxes \non self-employment income and on certain tip income, \nadvanced earned income payments, household\nemployment taxes, and certain ""other taxes"" listed \nin the Form 1040 instructions.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"[10] Reflects payments to or withholdings made to \n""Total tax liability"". This is the amount the tax filer \nowes when the income tax return is filed.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
[11] The amount of overpayments the tax filer requested to \nhave refunded.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"NOTE: This table presents aggregates of all returns filed and\nprocessed through the Individual Master File (IMF) system \nduring Calendar Year 2015, including any returns filed for \ntax years preceding 2014.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"This table is based on tax returns as initially processed by IRS. \nIn general, during administrative or Master File processing, \ntaxpayer reporting discrepancies are corrected only to the\nextent necessary. The statistics in the ZIP code data should, \ntherefore, be used with the knowledge that some of the \ndata have not been perfected or edited for statistical purposes \nand that State totals in this table may not be altogether \ncomparable to other State totals published by the IRS, \nStatistics of Income Division.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Detail may not add to totals because of rounding.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"SOURCE: IRS, Statistics of Income Division, \nIndividual Master File System, August 2016.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
14zp33ny.xls