In [23]:
import pylab as pl
import pandas as pd
import numpy as np
import scipy.stats
import statsmodels.api as sm
%pylab inline
from dateutil.parser import parse
import os

Populating the interactive namespace from numpy and matplotlib

In [12]:
dataframe = pd.read_csv('https://data.cityofnewyork.us/api/views/32y8-s55c/rows.csv?accessType=DOWNLOAD')

In [13]:
dataframe.head(5)

          Rank                Name      Unit               Date
0  FIREFIGHTER  ROBERT WINTRINGHAM  ENGINE 1    AUGUST 24, 1865
1  FIREFIGHTER         GEORGE BELL  ENGINE 8   NOVEMBER 8, 1865
2  FIREFIGHTER        THOMAS IRVIN  ENGINE 4   DECEMBER 2, 1865
3  FIREFIGHTER      DOMINICK SICOT  ENGINE 4  DECEMBER 14, 1865
4  FIREFIGHTER      PETER H. WALSH  ENGINE 5       MAY 21, 1866

In [15]:
dataframe.columns

Index(['Rank', 'Name', 'Unit', 'Date'], dtype='object')

In [16]:
pd.to_datetime(dataframe['Date'])

0      1865-08-24
1      1865-11-08
2      1865-12-02
3      1865-12-14
4      1866-05-21
5      1866-05-21
6      1867-08-27
7      1868-04-16
8      1869-10-06
9      1869-10-24
10     1870-12-04
11     1871-03-27
12     1872-06-29
13     1872-09-08
14     1873-02-09
15     1873-10-24
16     1874-08-16
17     1875-09-14
18     1875-09-14
19     1875-09-14
20     1876-02-08
21     1876-02-08
22     1876-02-11
23     1877-11-01
24     1878-03-14
25     1879-01-07
26     1879-01-14
27     1879-12-09
28     1880-01-01
29     1880-01-20
          ...
1139   2001-09-11
1140   2001-09-11
1141   2001-09-11
1142   2001-09-11
1143   2001-09-11
1144   2001-09-11
1145   2001-09-11
1146   2001-09-11
1147   2001-09-11
1148   2001-09-11
1149   2001-09-11
1150   2001-09-11
1151   2002-04-18
1152   2003-09-27
1153   2003-12-16
1154   2004-11-29
1155   2005-01-23
1156   2005-01-23
1157   2005-01-23
1158   2005-04-23
1159   2006-08-27
1160   2006-08-28
1161   2007-06-21
1162   2007-08-18
1163   2007-08-18
1164   2008-01-03
1165   2008-11-11
1166   2008-11-23
1167   2009-08-14
1168   2012-04-16
Name: Date, dtype: datetime64[ns]

In [20]:
dataframe['Date2'] = pd.to_datetime(dataframe['Date'])

In [21]:
dataframe.head(3)

          Rank                Name      Unit              Date      Date2
0  FIREFIGHTER  ROBERT WINTRINGHAM  ENGINE 1   AUGUST 24, 1865 1865-08-24
1  FIREFIGHTER         GEORGE BELL  ENGINE 8  NOVEMBER 8, 1865 1865-11-08
2  FIREFIGHTER        THOMAS IRVIN  ENGINE 4  DECEMBER 2, 1865 1865-12-02

In [25]:
bins = np.arange(10, 99, 5)
axM = dataframe.Date2.groupby(pd.cut(dataframe.Date2, bins)).agg([count_nonzero]).plot(kind='bar', 
                                                                legend=False)
axM.set_title("male riders")

TypeError: invalid type promotion