## Munge 1 Notebook by: 

### Author: Christopher Streich, cjs6762nyu.edu, 
### for PUI2016 Final, 12-17-2016

## This notebook is designed to run on the PUI2016_Python2 Kernel.

This notebook will Begin the overall Munging Phase. 

It may be replaced by a Notebook which only solves #1 and #2

In [1]:
#Tools for import
import numpy as np
import pandas as pd
import geopandas as gp
import scipy.cluster as scp
import shapely as shp
import pylab as pl
import pandas as pd
import matplotlib.pylab as plt
import scipy.cluster as scp
import plotly.plotly as py

from datetime import datetime
from itertools import compress
from fiona.crs import from_epsg
from sklearn.cluster import KMeans
from matplotlib import cm
from descartes import PolygonPatch
from pandas.io.common import ZipFile
from sklearn.cluster import AgglomerativeClustering
from IPython.html import widgets
from IPython.display import display

import seaborn
import fiona
import zipfile
import os
import subprocess

%matplotlib inline
%pylab inline

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/IPython/html.py:14: ShimWarning:

The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/IPython/core/magics/pylab.py:161: UserWarning:

pylab import has clobbered these variables: ['plt', 'compress', 'datetime']
`%matplotlib` prevents importing * from pylab and numpy

Populating the interactive namespace from numpy and matplotlib

In [2]:
%matplotlib inline


from pandas import DataFrame


from geopandas import GeoDataFrame

import fiona
import shapely
import os
import pylab as pl

### List of Variables defined in this notebook

nycb2010.shp = NYC Census Tract shapefile

ZIP_CODE_040114.shp = NYC zipcode shapefile

nybb.shp = Borough Map

zbp00totals.txt = yr2000 Biz Data 

zbp00totals.txt = yr2010 Biz Data.

zc_shape = NYC geoJson

biz2000 = Businesses in 2000 in NYC zipcodes by zipcode

biz2010 = Businesses in 2000 in NYC zipcodes by zipcode

postalcodes = Unique NYC Postal Codes. 

zc_shp_area = shapefile with calculated area (mi^2)

zc_group = Zip Codes grouped by zipcode with summed area(mi^2)

geo_zip_biz2000 = geo-dataframes of 2000 biz by zipcode

geo_zip_biz2010 = geo-dataframes of 2010 biz by zipcode

### Stats after raw import

len(zip_shp) = 263

len(zip_shp.ZIPCODE.unique()) = 248

len(tract_shp) = 38794

len(boro_shp) = 5

len(zc_shape) = 262

len(zc_shape.postalCode.unique()) = 247

len(biz2000) = 239

len(biz2010) = 239

len(postalcodes) = 247

### ZipCode Shapefile

In [3]:
zip_shape_path = (os.getenv("PUIDATA") + "/" + "ZIP_CODE_040114.shp")
zip_shp = gp.read_file(zip_shape_path)

In [4]:
zip_shp.head(2)

,AREA,BLDGZIP,COUNTY,CTY_FIPS,POPULATION,PO_NAME,SHAPE_AREA,SHAPE_LEN,STATE,ST_FIPS,URL,ZIPCODE,geometry
0,2.269930e+07,0,Queens,081,18681.0,Jamaica,0.0,0.0,NY,36,http://www.usps.com/,11436,"POLYGON ((1038098.251871482 188138.3800067157,..."
1,2.963100e+07,0,Kings,047,62426.0,Brooklyn,0.0,0.0,NY,36,http://www.usps.com/,11213,"POLYGON ((1001613.712964058 186926.4395172149,..."

In [5]:
len(zip_shp)

263

In [6]:
len(zip_shp.ZIPCODE.unique())

248

### Census tract Shapefile

In [7]:
tract_shape_path = (os.getenv("PUIDATA") + "/" + "nycb2010_16c/nycb2010.shp")
tract_shp = gp.read_file(tract_shape_path)

In [8]:
tract_shp.head(2)

,BCTCB2010,BoroCode,BoroName,CB2010,CT2010,Shape_Area,Shape_Leng,geometry
0,50009001000,5,Staten Island,1000,000900,244589.603884,2508.948115,"POLYGON ((962269.1260375977 173705.5001831055,..."
1,50020011000,5,Staten Island,1000,002001,111006.286826,1345.886422,"POLYGON ((964642.2676391602 161835.2651977539,..."

In [9]:
len(tract_shp)

38794

### Borough SHapefile

In [10]:
tract_shape_path = (os.getenv("PUIDATA") + "/" + "nybb_16d/nybb.shp")
boro_shp = gp.read_file(tract_shape_path)

In [11]:
boro_shp.head(2)

,BoroCode,BoroName,Shape_Area,Shape_Leng,geometry
0,5,Staten Island,1.623819e+09,330476.02653,(POLYGON ((970217.0223999023 145643.3322143555...
1,2,Bronx,1.186816e+09,464081.17775,(POLYGON ((1012821.805786133 229228.2645874023...

In [12]:
len(boro_shp)

5

### Zip Code GeoJson

ref: (https://stackoverflow.com/questions/21546739/load-data-from-txt-with-pandas)

### GeoJson used in Assignemnt 11

In [13]:
zc_shape = gp.read_file(os.getenv('PUIDATA') + '/' + 'nyc-zip-code-tabulation-areas-polygons.geojson')

In [14]:
zc_shape.head(5)

,@id,BLDGpostalCode,CTY_FIPS,OBJECTID,PO_NAME,STATE,ST_FIPS,Shape_Area,Shape_Leng,borough,geometry,postalCode
0,http://nyc.pediacities.com/Resource/PostalCode...,0,081,1,Jackson Heights,NY,36,2.016328e+07,20624.692317,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,11372
1,http://nyc.pediacities.com/Resource/PostalCode...,0,081,2,Glen Oaks,NY,36,2.260653e+07,23002.816039,Queens,POLYGON ((-73.71068374074007 40.75004039450917...,11004
2,http://nyc.pediacities.com/Resource/PostalCode...,0,081,3,New Hyde Park,NY,36,6.269333e+06,15749.161511,Queens,POLYGON ((-73.70098278625547 40.73889569923034...,11040
3,http://nyc.pediacities.com/Resource/PostalCode...,0,081,4,Bellerose,NY,36,4.941836e+07,35932.810639,Queens,POLYGON ((-73.72270447144122 40.75373371438336...,11426
4,http://nyc.pediacities.com/Resource/PostalCode...,0,081,5,Fresh Meadows,NY,36,6.938587e+07,38693.565676,Queens,POLYGON ((-73.81088634744755 40.72717187575918...,11365

In [15]:
len(zc_shape)

262

In [16]:
len(zc_shape.postalCode.unique())

247

## Number of unique NYC Zips

In [17]:
postalcodes = (zc_shape.postalCode.unique())

In [18]:
postalcodes.dtype

dtype('O')

In [19]:
len(postalcodes)

247

In [20]:
map(str, postalcodes)

['11372',
 '11004',
 '11040',
 '11426',
 '11365',
 '11373',
 '11001',
 '11375',
 '11427',
 '11374',
 '11366',
 '11423',
 '11428',
 '11432',
 '11379',
 '11429',
 '11435',
 '11415',
 '11418',
 '11433',
 '11451',
 '11221',
 '11421',
 '11419',
 '11434',
 '11216',
 '11416',
 '11233',
 '11436',
 '11213',
 '11212',
 '11225',
 '11218',
 '11226',
 '11219',
 '11210',
 '11230',
 '11204',
 '10471',
 '10470',
 '10466',
 '10467',
 '10463',
 '10475',
 '10464',
 '10469',
 '10468',
 '10458',
 '10034',
 '10033',
 '10462',
 '10040',
 '10453',
 '10465',
 '10461',
 '10457',
 '10460',
 '10032',
 '10452',
 '10456',
 '10472',
 '10031',
 '10039',
 '10459',
 '10451',
 '10473',
 '10030',
 '10027',
 '10474',
 '10455',
 '10037',
 '10024',
 '10454',
 '10026',
 '10035',
 '10025',
 '11357',
 '10029',
 '00083',
 '11356',
 '11359',
 '11360',
 '11105',
 '10128',
 '11371',
 '10023',
 '11363',
 '10028',
 '11354',
 '11102',
 '11370',
 '10021',
 '11361',
 '11358',
 '11362',
 '10044',
 '11369',
 '11103',
 '11106',
 '11368',
 '11377',
 '10036',
 '11355',
 '11101',
 '11364',
 '10018',
 '10020',
 '11005',
 '10017',
 '10001',
 '10011',
 '10016',
 '11104',
 '11109',
 '10010',
 '11367',
 '10014',
 '10003',
 '11222',
 '10002',
 '11378',
 '10009',
 '10012',
 '10013',
 '11211',
 '10007',
 '11237',
 '11385',
 '10038',
 '11206',
 '10006',
 '11412',
 '10005',
 '11251',
 '10004',
 '11411',
 '11201',
 '11205',
 '11208',
 '11207',
 '11413',
 '11217',
 '11238',
 '11231',
 '11422',
 '11420',
 '11417',
 '11215',
 '11414',
 '11232',
 '11430',
 '11203',
 '11239',
 '11236',
 '11220',
 '10301',
 '10310',
 '10303',
 '11234',
 '10302',
 '11693',
 '11209',
 '10304',
 '10314',
 '11228',
 '11096',
 '10305',
 '11229',
 '11214',
 '11691',
 '11223',
 '11692',
 '11235',
 '10306',
 '11694',
 '11224',
 '10308',
 '11697',
 '10312',
 '10309',
 '10307',
 '10280',
 '10048',
 '10279',
 '10165',
 '10168',
 '10055',
 '10105',
 '10118',
 '10176',
 '10162',
 '10019',
 '10111',
 '10170',
 '10112',
 '10122',
 '10107',
 '10103',
 '10153',
 '10174',
 '10166',
 '10169',
 '10167',
 '10177',
 '10172',
 '10171',
 '10154',
 '10152',
 '10270',
 '10104',
 '10271',
 '10110',
 '10175',
 '10151',
 '10173',
 '10178',
 '10119',
 '10121',
 '10115',
 '10123',
 '10106',
 '10158',
 '10041',
 '10120',
 '10278',
 '10155',
 '10022',
 '10043',
 '10081',
 '10096',
 '10097',
 '10196',
 '10275',
 '10265',
 '10045',
 '10047',
 '10080',
 '10203',
 '10259',
 '10260',
 '10285',
 '10286',
 '10065',
 '10075',
 '10069',
 '10281',
 '10282']

In [21]:
len(postalcodes)

247

In [22]:
postalcodes.dtype

dtype('O')

### Biz 2000

In [23]:
# Load year 2000 into dataframe

filename = 'zbp00totals.zip'
zf = zipfile.ZipFile(os.getenv('PUIDATA') + '/' + filename)
df = pd.read_csv(zf.open(filename.replace('.zip','.txt')))
df.columns = [x.lower() for x in df.columns]
df['zip'] = df['zip'].astype(str)
df['year'] = 2000
df['est2000'] = df['est']
df  = df[df['zip'].isin(postalcodes)]
biz2000 = df[['zip', 'est2000', 'year']]
biz2000.reset_index(inplace=True)
biz2000.drop('index', axis=1, inplace=True)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [24]:
biz2000.head(5)

     zip  est2000  year
0  10001     7317  2000
1  10002     2277  2000
2  10003     3683  2000
3  10004     1294  2000
4  10005     1287  2000

In [25]:
len(biz2000)

239

Check For Null

In [26]:
 biz2000.isnull().any()

zip        False
est2000    False
year       False
dtype: bool

Count Number of Businesses in 2000

In [27]:
np.sum(biz2000, axis=0).astype(int)

zip       -9223372036854775808
est2000                 204505
year                    478000
dtype: int64

# --> In 2000 there were 204505 buisnesses in NYC zip codes <--

### Biz 2010

In [28]:
# Load year 2010 into dataframe

filename10 = 'zbp10totals.zip'
zf10 = zipfile.ZipFile(os.getenv('PUIDATA') + '/' + filename10)
df10 = pd.read_csv(zf10.open(filename10.replace('.zip','.txt')))
df10.columns = [x.lower() for x in df10.columns]
df10['zip'] = df10['zip'].astype(str)
df10['year'] = 2010
df10['est2010'] = df10['est']
df10 = df10[df10['zip'].isin(postalcodes)]
biz2010 = df10[['zip', 'est2010', 'year']]
biz2010.reset_index(inplace=True)
biz2010.drop('index', axis=1, inplace=True)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [29]:
biz2010.head(5)

     zip  est2010  year
0  10001     7241  2010
1  10002     2872  2010
2  10003     4113  2010
3  10004     1398  2010
4  10005     1266  2010

In [30]:
len(biz2010)

241

Check for Null

In [31]:
 biz2010.isnull().any()

zip        False
est2010    False
year       False
dtype: bool

Count Number of Businesses in 2010

In [32]:
biz2010.sum(axis = 0)

zip                 inf
est2010    2.215170e+05
year       4.844100e+05
dtype: float64

In [33]:
np.sum(biz2010, axis=0).astype(int)

zip       -9223372036854775808
est2010                 221517
year                    484410
dtype: int64

 # -->In 2010 there were 221517 buisness establishments in NYC zipcodes<--

### merge 2010 and 2000 biz data with zip code file.

### Prepare the zipcode file. (using the zc_shapes df. Source =  GeoJson used in Assignemnt 11)

Plan = Get the area per zipcode including duplicates (262 shapes) then groupby zipcode and add area to get the total
area

Area

In [34]:
# set coordinate projection 
zc_shape.crs = from_epsg(4326) # epsg=4326: lat/on | 26918: NAD83/UTM zone 18N |
# set to miles
zc_shp_area = zc_shape.to_crs(epsg=2263).geometry.area.sum()/(2.788*10**7) # from ft2 to mi2

In [35]:
#sanity check
print 'total NYC land area: %s (mi^2)'%str(zc_shp_area)[:5] # from ft2 to mi2 #epsg=2263 is US feet

total NYC land area: 300.1 (mi^2)

In [36]:
zc_shape.head(5)

,@id,BLDGpostalCode,CTY_FIPS,OBJECTID,PO_NAME,STATE,ST_FIPS,Shape_Area,Shape_Leng,borough,geometry,postalCode
0,http://nyc.pediacities.com/Resource/PostalCode...,0,081,1,Jackson Heights,NY,36,2.016328e+07,20624.692317,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,11372
1,http://nyc.pediacities.com/Resource/PostalCode...,0,081,2,Glen Oaks,NY,36,2.260653e+07,23002.816039,Queens,POLYGON ((-73.71068374074007 40.75004039450917...,11004
2,http://nyc.pediacities.com/Resource/PostalCode...,0,081,3,New Hyde Park,NY,36,6.269333e+06,15749.161511,Queens,POLYGON ((-73.70098278625547 40.73889569923034...,11040
3,http://nyc.pediacities.com/Resource/PostalCode...,0,081,4,Bellerose,NY,36,4.941836e+07,35932.810639,Queens,POLYGON ((-73.72270447144122 40.75373371438336...,11426
4,http://nyc.pediacities.com/Resource/PostalCode...,0,081,5,Fresh Meadows,NY,36,6.938587e+07,38693.565676,Queens,POLYGON ((-73.81088634744755 40.72717187575918...,11365

In [37]:
zc_shape['area'] = zc_shape['geometry'].to_crs(epsg=2263).area /(2.788*10**7) # from ft2 to mi2

In [38]:
zc_shape['area'] = zc_shape['postalCode'].astype(str)

In [39]:
zc_shape.head(5)

,@id,BLDGpostalCode,CTY_FIPS,OBJECTID,PO_NAME,STATE,ST_FIPS,Shape_Area,Shape_Leng,borough,geometry,postalCode,area
0,http://nyc.pediacities.com/Resource/PostalCode...,0,081,1,Jackson Heights,NY,36,2.016328e+07,20624.692317,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,11372,11372
1,http://nyc.pediacities.com/Resource/PostalCode...,0,081,2,Glen Oaks,NY,36,2.260653e+07,23002.816039,Queens,POLYGON ((-73.71068374074007 40.75004039450917...,11004,11004
2,http://nyc.pediacities.com/Resource/PostalCode...,0,081,3,New Hyde Park,NY,36,6.269333e+06,15749.161511,Queens,POLYGON ((-73.70098278625547 40.73889569923034...,11040,11040
3,http://nyc.pediacities.com/Resource/PostalCode...,0,081,4,Bellerose,NY,36,4.941836e+07,35932.810639,Queens,POLYGON ((-73.72270447144122 40.75373371438336...,11426,11426
4,http://nyc.pediacities.com/Resource/PostalCode...,0,081,5,Fresh Meadows,NY,36,6.938587e+07,38693.565676,Queens,POLYGON ((-73.81088634744755 40.72717187575918...,11365,11365

In [40]:
np.sum(zc_shape, axis=0).astype(int)

BLDGpostalCode            57
OBJECTID               34453
Shape_Area        8367606492
Shape_Leng           6570529
dtype: int64

Set new dataframe

In [41]:
zc_shape.columns

Index([           u'@id', u'BLDGpostalCode',       u'CTY_FIPS',
             u'OBJECTID',        u'PO_NAME',          u'STATE',
              u'ST_FIPS',     u'Shape_Area',     u'Shape_Leng',
              u'borough',       u'geometry',     u'postalCode',
                 u'area'],
      dtype='object')

In [42]:
zc_shp_area = zc_shape

In [43]:
zc_shp_area = zc_shape.drop([u'@id', u'BLDGpostalCode', u'OBJECTID', u'STATE', u'Shape_Area', u'Shape_Leng'], axis = 1)

In [44]:
zc_shp_area.columns

Index([  u'CTY_FIPS',    u'PO_NAME',    u'ST_FIPS',    u'borough',
         u'geometry', u'postalCode',       u'area'],
      dtype='object')

Groupby zipcode and aggregate the area(mi^2)

Good ref:

In [45]:
aggregations = {'CTY_FIPS' : 'first', 'PO_NAME': 'first','ST_FIPS': 'first','borough': 'first', 'geometry': 'first', 'area': sum}   
    
zc_group = zc_shp_area.groupby(['postalCode']).agg(aggregations)

In [46]:
len(zc_group)

247

In [47]:
zc_group.head(5)

,area,geometry,PO_NAME,CTY_FIPS,borough,ST_FIPS
postalCode,,,,,,
00083,00083,POLYGON ((-73.94922045816276 40.79690988348276...,Central Park,061,Manhattan,36
10001,10001,POLYGON ((-74.00827017711134 40.75258714368449...,New York,061,Manhattan,36
10002,10002,POLYGON ((-73.97441674489379 40.73642441865476...,New York,061,Manhattan,36
10003,10003,POLYGON ((-73.97986374196766 40.73497446573838...,New York,061,Manhattan,36
10004,10004100041000410004,"POLYGON ((-74.00596661578348 40.7043243225291,...",New York,061,Manhattan,36

In [48]:
zc_group.reset_index(inplace=True)

In [49]:
len(zc_group.postalCode.unique())

247

## Merge the Biz files onto our new Zip Code file

In [56]:
zip_biz2000 = zc_group.join(biz2000[['est2000']])

In [57]:
zip_biz2000.head(5)

,postalCode,area,geometry,PO_NAME,CTY_FIPS,borough,ST_FIPS,est2000
0,00083,00083,POLYGON ((-73.94922045816276 40.79690988348276...,Central Park,061,Manhattan,36,7317.0
1,10001,10001,POLYGON ((-74.00827017711134 40.75258714368449...,New York,061,Manhattan,36,2277.0
2,10002,10002,POLYGON ((-73.97441674489379 40.73642441865476...,New York,061,Manhattan,36,3683.0
3,10003,10003,POLYGON ((-73.97986374196766 40.73497446573838...,New York,061,Manhattan,36,1294.0
4,10004,10004100041000410004,"POLYGON ((-74.00596661578348 40.7043243225291,...",New York,061,Manhattan,36,1287.0

In [58]:
zip_biz2000 = zip_biz2010.drop([u'PO_NAME', u'CTY_FIPS', u'area'], axis = 1)

In [59]:
zip_biz2000['zip'] = zip_biz2000['postalCode']

In [61]:
zip_biz2000['area'] = zip_biz2000['geometry'].area /(2.788*10**7) # from ft2 to mi2

AttributeError: 'Series' object has no attribute 'area'

In [55]:
zip_biz2000den['densitybiz'] = (zip_biz2000['est2000'] / zip_biz2000['area'])

TypeError: unsupported operand type(s) for /: 'float' and 'str'

In [ ]:
zip_biz2000den.head(5)

In [ ]:
zip_biz2010['densitybiz'] = (zip_biz2010['est2010'] / zip_biz2010['area'])

In [53]:
zip_biz2010 = zc_group.join(biz2010[['est2010']])

In [54]:
zip_biz2010.head(5)

,postalCode,area,geometry,PO_NAME,CTY_FIPS,borough,ST_FIPS,est2010
0,00083,00083,POLYGON ((-73.94922045816276 40.79690988348276...,Central Park,061,Manhattan,36,7241.0
1,10001,10001,POLYGON ((-74.00827017711134 40.75258714368449...,New York,061,Manhattan,36,2872.0
2,10002,10002,POLYGON ((-73.97441674489379 40.73642441865476...,New York,061,Manhattan,36,4113.0
3,10003,10003,POLYGON ((-73.97986374196766 40.73497446573838...,New York,061,Manhattan,36,1398.0
4,10004,10004100041000410004,"POLYGON ((-74.00596661578348 40.7043243225291,...",New York,061,Manhattan,36,1266.0

In [ ]:
this should fail

### First biz 2000

In [ ]:
zip_biz2000.columns

In [ ]:
#Clean
zip_biz2000 = zip_biz2000.drop([u'PO_NAME', u'year'], axis = 1)

In [ ]:
#create Density field
zip_biz2000['densitybiz'] = (zip_biz2000['est2000'] / zip_biz2000['area'])

In [ ]:
zip_biz2000.head(5)

### Second biz 2010

In [ ]:
dtype(biz2010['zip'])

In [ ]:
zip_biz2010 = pd.merge(zc_group, biz2010, left_on='postalCode', right_on='zip', how='right',)

In [ ]:
zip_biz2010.head(5)

In [ ]:
#Clean
zip_biz2010 = zip_biz2010.drop([u'PO_NAME', u'year'], axis = 1)

In [ ]:
#create Density field
zip_biz2010['densitybiz'] = (zip_biz2010['est2010'] / zip_biz2010['area'])

In [ ]:
zip_biz2010.head(5)

Sanity Check zip_biz2010['area']) for 10005 =.07sqmi in our table

http://www.unitedstateszipcodes.org/10005/ lists 10005 as "Land Area 0.07 sq mi"

In [ ]:
#f, ax = plt.subplots(figsize=(10,10))
#ax.get_xaxis().set_visible(False)
#ax.get_yaxis().set_visible(False)
#geo_zip_biz2010.plot(column='densitybiz',cmap = ,alpha=1,linewidth=0.1,ax=ax)
#plt.title("Census Tract map of Brooklyn")

In [ ]:

#f, ax = plt.subplots(figsize=(10,10))
#ax.get_xaxis().set_visible(False)
#ax.get_yaxis().set_visible(False)
#geo_zip_biz2010.plot(column='densitybiz', colormap='Greys',alpha=1,linewidth=0.1,ax=ax)
#plt.title("Population Density")